<div class="container-card">
    <div class="card">
        <div style="width: 100%; height: 100%;" (click)="onClick()">
            <span style="font-size: 10px;">Film</span>
            <div class="header">{{ film.title }}</div>
        </div>
        <div *ngIf="clicked">
            <div class="body">
                <p>Réalisateur: {{ film.realisator }}</p>
                <p (click)="onClickFilter('genre', film.genre)">Genre: <span  class="clickable">{{ film.genre }}</span></p>
                <br>
                <p (click)="onClickFilter('actor1', film.actor1)"*ngIf="film.actor1">Tête d'affiche 1: <span  class="clickable">{{ film.actor1 }}</span></p>
                <p (click)="onClickFilter('actor2', film.actor2)"*ngIf="film.actor2">Tête d'affiche 2: <span  class="clickable">{{ film.actor2 }}</span></p>
                <br>
                <p (click)="onClickFilter('releaseDate', film.releaseDate.toString())">Date de sortie: <span  class="clickable">{{ film.releaseDate }}</span></p>
                <p (click)="onClickFilter('releaseDecade', film.releaseDecade!)">Film des années <span  class="clickable">{{ film.releaseDecade }}</span></p>
                <p (click)="onClickFilter('length', film.length)">Durée approximative: <span  class="clickable">{{ film.length }}</span></p>
            </div>
            <div class="footer"></div>
        </div>
    </div> 
<div>